<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorFront</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Sales">
                <span class="bi bi-cash-stack" aria-hidden="true"></span> Sales
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ventas">
                <span class="bi bi-cart-fill" aria-hidden="true"></span> Ventas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-product">
                <span class="bi bi-file-earmark-plus" aria-hidden="true"></span> Create Product
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventario">
                <span class="bi bi-box-seam" aria-hidden="true"></span> Inventario
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="bi bi-list-ul" aria-hidden="true"></span> Products
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reportes-ventas-caja">
                <span class="bi bi-file-earmark-spreadsheet" aria-hidden="true"></span> Reportes de Ventas y Caja
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registro-compras">
                <span class="bi bi-cart-plus" aria-hidden="true"></span> Registro de Compras y Control de Stock
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="control-pago">
                <span class="bi bi-credit-card" aria-hidden="true"></span> Control de Métodos de Pago y Movimientos de Caja
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard-negocio">
                <span class="bi bi-bar-chart" aria-hidden="true"></span> Dashboard de Negocio
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
