<ul class="nav flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="/products">Listado de Productos</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/create-product">Agregar Producto</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Sales">Ventas</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Proveedores">Gestión de Proveedores</NavLink>
    </li>
</ul>
