@page "/"

<AuthorizeView>
    <Authorized>
        @{
            // Obtener los roles del usuario
            var isAdmin = context.User.IsInRole("ADMIN");
            var isOperador = context.User.IsInRole("OPERADOR");
        }

        <div class="m-4 text-center">
            <div class="mb-5">
                <h1>¡Bienvenido @UserName!</h1>
                <p>
                    @if (isAdmin)
                    {
                        <text>
                            Aquí encontrarás toda la información que necesitas para gestionar el inventario.
                            Como administrador tienes acceso a TODAS las funcionalidades del sistema.
                        </text>
                    }
                    else 
                    {
                        <text>
                            Aquí encontrarás toda la información que necesitas para gestionar el ingreso de ventas.
                        </text>
                    }
                </p>
            </div>

            <div class="m-auto index-description">
                <!-- Secciones principales del ADMIN -->
                @if (isAdmin)
                {
                    <div class="mb-5 index-description-box">
                        <div class="mb-3">
                            <h1 class="fa-solid fa-clock"></h1>
                            <h2>Facturación</h2>
                        </div>
                        <div>
                            <p>
                                Descripción
                            </p>
                        </div>
                    </div>

                    <div class="mb-5 index-description-box">
                        <div class="mb-3">
                            <h1 class="fa-solid fa-briefcase"></h1>
                            <h2>Inventario</h2>
                        </div>
                        <div>
                            <p>
                                Descripción
                            </p>
                        </div>
                    </div>

                    <div class="mb-5 index-description-box">
                        <div class="mb-3">
                            <h1 class="fa-solid fa-clock"></h1>
                            <h2>Proveedores</h2>
                        </div>
                        <div>
                            <p>
                                Descripción
                            </p>
                        </div>
                    </div>

                    <div class="mb-5 index-description-box">
                        <div class="mb-3">
                            <h1 class="fa-solid fa-clock"></h1>
                            <h2>Pedidos de compra</h2>
                        </div>
                        <div>
                            <p>
                                Descripción
                            </p>
                        </div>
                    </div>
                }
                else if (isOperador)
                {
                    <!-- Secciones principales del OPERADOR -->
                    <div class="mb-5 index-description-box">
                            <div class="mb-3">
                            <h1 class="fa-solid fa-users"></h1>
                            <h2>Ventas</h2>
                        </div>
                        <div>
                            <p>
                                Descripción
                            </p>
                        </div>
                    </div>
                }
                <!-- Secciones COMUNES -->
                <div class="mb-5 index-description-box" @onclick="@(() => RedirectTo("/Accounts/Settings"))" style="cursor: pointer;">
                    <div class="mb-3" >
                        <h1 class="fa-solid fa-user"></h1>
                        <h2>Perfil</h2>
                    </div>
                    <div>
                        <p>
                            En esta sección podrás ver y actualizar tu información personal y
                            preferencias de cuenta. Asimismo, es posible cambiar la
                            contraseña de la cuenta en la plataforma. Esto es fundamental
                            para mantener tu cuenta segura.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>

    <NotAuthorized>
        <div class="background-indexHeader">
        </div>

        <div class="text-center mb-5 index-description-box glass">
            <div class="box p-5">
                <h2>¡Bienvenido al sistema de YPF Servicompras!</h2>
                <div class="mt-3">
                    <h4 class="fw-light">
                        PLACEHOLER
                    </h4>
                </div>
            </div>
        </div>

        <div class="text-center justify-content-center">
            <div class="d-flex flex-column pt-5">
                <div class="mb-5">
                    <h3 class="pt-5">¡PLACEHOLER!</h3>

                    <div class="p-2 pb-5">
                        <a href="/Accounts/Login" class="btn btn-primary flex-grow-0">Ingresar</a>
                    </div>
                </div>

                <div class="glass mt-5">
                    <div class="p-5">
                        <p class="pt-5">¿No tienes una cuenta?</p>

                        <div class="p-2 pb-5">
                            <a href="/Accounts/Registration" class="btn btn-primary flex-grow-0">Registrate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code
{
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; }
    
    [Inject] private NavigationManager _navigationManager { get; set; }

    public string? UserName { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationState;

        UserName = authState.User.Identity.Name;
    }

    private void RedirectTo(string url)
    {
        _navigationManager.NavigateTo(url);
    }
}